.closed-side-bar{
    width: 3vw;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

.side-bar-button{
  display: flex;
  height: 10%;
  justify-content: center;
  align-items: center;
  color: var(--soft-white);
}

.side-bar-button:hover{
  background-color: var(--highlight-color);
}

.side-bar-container{
    width: 12vw;
    height: 100%;
    background-color: var(--primary-color);
    animation: slideOpen 1s ease;
    display: flex;
    flex-direction: column;
}

.side-bar-container div{
    width: 100%;
    height: 10vh;
    color: var(--soft-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid  black 1px;
}

.side-bar-container div:first-child{
  border-top: solid black 1px;
}

.side-bar-container div:hover{
    cursor: pointer;
    background-color: var(--highlight-color);
}
    

@keyframes slideOpen {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
